<!DOCTYPE html>
<html>
    <head>
        <title>Employee Management System</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    </head>

    <body>
    
     <div class = "container mt-5">
        <div class="d-flex justify-content-between mb-3">
            <h3> Welcome {{ username }} </h3>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
        <div class="row mb-4">
            <div class = "col-md-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h6 class="text-muted">Total Employees</h6>
                        <h1 class="fw-bold">{{ total_employees or 0 }}</h1>
                    </div>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "card shadow-sm h-100">
                    <div class="card-body text-center">
                        <h6 class="text-muted">Active Employees</h6>
                        <h1 class="fw-bold">{{ active_employees or 0 }}</h1>
                    </div>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "card shadow-sm h-100">
                    <div class = "card-body text-center">
                        <h6 class="text-muted"> Inactive Employees</h6>
                        <h1 class="fw-bold">{{ inactive_employees or 0  }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mb-4">Employee Management System</h1>
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h5 class="mb-0"> Add Employee</h5>
            </div>
            <div class="card-body">
                <form action="/add" method ="POST" enctype="multipart/form-data">
                    
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input 
                        class="form-control" 
                        type="text"
                        name="employee_no"
                        placeholder="Employee No"
                        required
                        >
                </div>
                <div class="col-md-6 mb-3">
                    <input
                        class="form-control" 
                        type="text"
                        name="first_name"
                        placeholder="First Name"
                        required
                    >
                </div>
            </div>
            <div class="row">
                <div class = "col-md-6 mb-3">
                    <input
                        class="form-control"
                        type="text"
                        name = "last_name"
                        placeholder="Last Name"
                        required
                    >
                </div>
                <div class = "col-md-6 mb-3">
                    <input
                        class="form-control"
                        type="email"
                        name = "email"
                        placeholder="Email"
                        required
                    >
                </div>
            </div>
        <div class="row">
            <div class = "col-md-6 mb-3">
                <select name="department" class="form-control" required>
                    <option value="">Select Department</option>
                    <option value="IT">IT</option>
                    <option value="HR">HR</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Finance">Finance</option>
                </select>
            </div>
            <div class = "col-md-6 mb-3">
                <input
                    class="form-control" 
                    type="text"
                    name="position"
                    placeholder="Position"
                >          
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6 mb-3">
                <input 
                    type="file"
                    name="photo"
                    class="form-control"
                >
            </div>

            <div class="col-md-6 mb-3">
                <select name="status" class="form-control" required>
                    <option value="">Select Status</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>

            </div>
        </div>
            
           <div class="text-center">
                <button class="btn btn-primary px-5"> Add Employee </button>
           </div>


        </form>
            </div>
        </div>
        
        
        <hr>
        <form method="GET">
            <div class="row mb-3">
                <div class="d-flex gap-2 mb-3">
                    <input 
                    type="text"
                    class="form-control"
                    name="search"
                    placeholder="Search Employee"
                    value="{{ search }}"
                    >
                </div>
                <div class="d-flex gap-2 mb-3">
                    <button  class="btn btn-success"
                    type="submit">
                        Search
                    </button>

                </div>
                <div class="d-flex gap-2 mb-3">
                    

                    <a href="/export" class="btn btn-success mb-3"> Export Excel </a>
                </div>
                <div class="d-flex gap-2 mb-3">
                    <a href="/audit-logs" class="btn btn-dark mb-3">Audit Logs</a>
                </div>
            </div>
        </form>
    <div class="container-fluid">
     <table class="table table-bordered table-hover align-middle">

        <thead class="table-dark text-center">
            <tr>
                <th class="text-center">Photo</th>
                <th class="text-center">Emp No</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Department</th>
                <th class="text-center">Position</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
                
            </tr>
        </thead>
     <tbody>
        {% for employee in employees.items %}
        <tr>
            <td>
                 {% if employee.photo %}
                    <img
                        src="{{ url_for('static', filename='uploads/' + employee.photo) }}"
                        width="60"
                        height="60"
                        style="object-fit: cover;border-radius: 50%;"
                    >
                 {% else %}
                 
                 No Photo
                 {% endif %}

            </td>
            <td class="text-center" >{{ employee.employee_no }} </td>
            <td class="text-center" >{{ employee.first_name }}</td>
            <td class="text-center">{{ employee.last_name }}</td>
            <td class="text-center">{{ employee.email }}</td>
            <td class="text-center">{{ employee.department }}</td>
            <td class="text-center">{{ employee.position }}</td>
            <td class="text-center">{{ employee.status }}</td>
           
            <td class="text-center" >
                <a class = "btn btn-warning btn-sm" href="/edit/{{ employee.id }}">
                    Edit
                </a>
                <a href="/delete/{{employee.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Delete this employee?')">
                    Delete
                </a>
                <a href="/employee/{{ employee.id }}" class="btn btn-info btn-sm"> 
                    View 
                </a>
            </td>
        </tr>
        {% endfor %}
     </tbody>
     </table>
     <nav>
        <ul class="pagination justify-content-center">
            {% if employees.has_prev %}
            <li class="page-item">
                <a href="?page={{ employees.prev_num }}" class="page-link"> Previous </a>
            </li>
            {% endif %}
            {% for num in employees.iter_pages() %}
                {% if num %}
                    <li 
                        class="page-item
                        {% if num == employees.page %}
                        active
                        {% endif %}"
                    >
                    <a href="?page={{ num }}" class="page-link"> {{ num }} </a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if employees.has_next %}
            <li class="page-item">
                <a href="?page={{ employees.next_num }}" class="page-link"> Next </a>
            </li>
            {% endif %}
        </ul>
     </nav>
     </div>
     </div>
    </body>
</html>